@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/th\/Dropbox\/mob\/wokspace\/ivw-frontend\/app\/sass\/spinner\.sass}line{font-family:\000031}}
.spinner {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
}
