<div id="main-container">
	
	<div id="title">
		<p> Map Layout </p>
	</div>

	<div id="details-container">
	</div>

	<div id="map-container">
	</div>

	<div id="controllers">
		<button id="play">
			Play
		</button>
		<button id="stop">
			Stop
		</button>
		<div id="timeline-container">
			<div data-role="fieldcontain">
			  <label for="timeline">Jahr:</label>
			  <input type="range" name="timeline" id="timeline" value="1998" min="1998" max="2013" data-theme="a" data-track-theme="b" />
			</div>
		</div>
		<select id="ediction-selector">
			<option value="Mo-Fr">Mo-Fr</option>
			<option value="Sa">Sa</option>
			<option value="So">So</option>
		</select>
	</div>

	<div id="chart">
  		<svg>
		</svg>
	</div>

	<div id="compare-area">
		<ul>
		</ul>
	</div>

</div>
